<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Selling Price</title>
</head>
<body>
    {{ title }}


    <table>
        <tr>
            <td>Product Code</td>
            <td><input type="text" value="{{ product }}" readonly></td>
        </tr>
        <tr>
            <td>Selling Price</td>
            <td><input type="decimal" value="{{ price }}" readonly></td>
        </tr>
    </table>

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>New Price</td>
                <td><input type="decimal" name="price"></td>
            </tr>
            
        </table>
        <button type="submit" >Save</button>
    </form>
    <a href="{% url 'inventory' %}">back</a>

</body>
</html>