{% extends 'base.html' %}

{% block content %}

<body>
    {{ title }}


    <table>
        <tr>
            <td>Product Code</td>
            <td><input type="text" value="{{ product }}" readonly></td>
        </tr>
        <tr>
            <td>Selling Price</td>
            <td><input type="decimal" value="{{ price }}" readonly></td>
        </tr>
    </table>

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>New Price</td>
                <td><input type="decimal" name="price"></td>
            </tr>
            
        </table>
        <button type="submit" >Save</button>
    </form>
    <a href="{% url 'inventory' %}">back</a>

</body>

{% endblock %}