<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="first_name" value={{data.0}}></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="last_name" value={{data.1}}></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" value={{data.2}}></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" name="phone_number" value={{data.3}}></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" value={{data.4}}></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    {% if data.5 == 'MALE' %}
                    <input type="radio" name="Gender" value="MALE" checked>Male
                    <input type="radio" name="Gender" value="FEMALE">Female
                    {% elif data.5 == 'FEMALE' %}
                    <input type="radio" name="Gender" value="MALE">Male
                    <input type="radio" name="Gender" value="FEMALE" checked>Female
                    {% else %}
                    <input type="radio" name="Gender" value="MALE">Male
                    <input type="radio" name="Gender" value="FEMALE">Female
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><button type="submit" name="edit_bio">Save</button></td>            
            </tr>
        </table>

        <p>Do you want to update your password? <a href="./change-password/">Click here</a></p>

    </form>
    
    <div><a href="{% url 'employees' %}">Back</a></div>
</body>
</html>