{% extends 'base.html' %}

{% block content %}

<head>
  <style>
      a:link {
      text-decoration: none;
      }

      a:visited {
      text-decoration: none;
      }

      a:hover {
      text-decoration: underline;
      }

      a:active {
      text-decoration: underline;
      }

      .icons img{
        height: 50px;
      }
  </style>
</head>

<body>
  <h1 class="text-center">{{ title }}</h1>
  
  {% if messages %}
      {% for message in messages %}
          <div>{{ message }}</div>
      {% endfor %}
  {% endif %}

  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="col">#</th>
          <th class="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Gender</th>
      </tr>
      </thead>
      {% for user in employee_table %}
      <tr>
          <td>{{ forloop.counter }}</td>
          {% if me == user.0 %}
            <td><a href="{% url 'edit' me %}">{{ user.0 }}</a></td>
          {% else %}
            <td>{{ user.0 }}</td>
          {% endif %}
          <td>{{ user.1 }}</td>
          <td>{{ user.2 }}</td>
          <td>{{ user.3 }}</td>
          <td>{{ user.4 }}</td>
          <td>{{ user.5 }}</td>
          <td>
          {% if control and me != user.0 %}
              <div><a href="{% url 'delete_user' user.0 %}">Remove <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg></a></div>
          {% endif %}
          </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    {% if control %}
        <div><a href="{% url 'register' %}">Register an Employee <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg></a></div>
    {% endif %}

  </div>

</body>

{% endblock %}