{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        a:link {
        text-decoration: none;
        }

        a:visited {
        text-decoration: none;
        }

        a:hover {
        text-decoration: underline;
        }

        a:active {
        text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1 class="text-center">{{ title }}</h1>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div>
            <div class="form-outline mb-auto">
                <input class="form-control" style="width: 220px;" type="text" id="myInput" name="search" placeholder="Search Product Code..." onkeyup="tableSearch()">
            </div>
           
        <table id="myTable" data-filter-control='true' data-show-search-clear-button='true' class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Category</th>
                    <th scope="col">Color</th>
                    <th scope="col">Description</th>
                    <th scope="col">Purchase price</th>
                    <th scope="col">Selling price</th>
                    <th scope="col">Qty</th>
                </tr>
            </thead>
            {% for item in item_table %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
                <td>{{ item.4 }}</td>
                <td><a href="{% url 'sellingprice' item.0 %}">{{ item.5 }}</a></td>
                <td>{{ item.6 }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>

    <script>
        function tableSearch(){
            let input, filter, table, tr, td, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for(let i=0; i<tr.length; i++){
                td = tr[i].getElementsByTagName("td")[1];
                if(td){
                    txtValue = td.textContent || td.innerText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1){
                        tr[i].style.display = "";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    </script>

</body>


{% endblock %}