{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <title>Sell Items</title>

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src={% static 'main.js' %} defer></script>
    <link rel="stylesheet" href={% static 'stylesheet.css' %}>
</head>
<body>
    <h1>{{ title }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}


    <form action="" method="post" id="selling-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Product Code</td>
                
                <td>
                    <div id="items">                          
                        <select name="item-data" id="item-data" onmouseleave="tot()" required>
                            <option value="" selected disabled hidden>Choose here</option>
                        </select>
                    </div>
                </td>

            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <input type="text" name="category" id="category" readonly>
                </td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input type="text" name="color" id="color" readonly></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="description" id = "description" readonly></td>
            </tr>
            <tr>
                <td>Selling Price</td>
                <td><input type="decimal" name="selling_price" id = "selling_price" onkeyup="tot()" readonly></td>
            </tr>
            <tr>
                <td>Qty</td>
                <td><input type="number" name="qty" id = "qty" onkeyup="tot()" required></td>
            </tr>
            <tr>
                <td>Total</td>
                <td><input type="decimal" name="total" id = "total" readonly></td>
            </tr>
        </table>

        <br>
        <div>Customer Details (Optional)</div>

        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" id="address"></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" name="phone_number" id="phone_number"></td>
            </tr>
        </table>
        
        <button type="submit" onmouseenter="tot()">Submit</button>
    </form>

    <div><a href="../">Back to Home</a></div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(function(){
            $("#name").autocomplete({
                source: "{% url 'customerNames' %}"
            })
        })
    </script>

</body>
</html>